<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  </head>
<style>
body{
  background-color: black;
  font-family: 'Nato Sans', monospace;
  color: white;
  text-align: center;
  margin-top: 15%;
}
p{
  font-size: 2.5em

}
img{
  width: 30px;
}
span img{
  margin-top: 10px;
 width: 60px;
}

</style>

  <body>
    <p>गौरव  <img src="images/love.png" alt="">  कंट्रिब्यूटिंग टू  स्कोरलैब |</p>
    <a href="http://www.github.com/scorelab"><span> <img src="images/git.png" alt=""> </span></a>

  </body>
</html>
