  <!DOCTYPE html>
  <html>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    </head>
  <style>
  body{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    margin-top: 15%;
  }
  p{
    font-size: 2em;
    font-weight: lighter;
    font-family: 'Roboto Mono', monospace;

  }
   img{
    width: 23px;
  }
  span img{
    margin-top: 10px;
   width: 60px;
 }


  </style>

    <body>
      <p>Gaurav <img src="images/love.png" alt=""> Contributing to ScoreLab.</p>
      <a href="http://www.github.com/scorelab"><span> <img src="images/git.png" alt=""> </span></a>

    </body>
  </html>
